@font-face {
  font-family: "Ibmplexsans";
  src: url("./fonts/Ibmplexsans.woff2") format("woff2"),
  url("./fonts/Ibmplexsans.woff") format("woff"),
  url("./fonts/Ibmplexsans.ttf") format("truetype");
}
@font-face {
  font-family: "Ibmplexsansbold";
  src: url("./fonts/Ibmplexsansbold.woff2") format("woff2"),
  url("./fonts/Ibmplexsansbold.woff") format("woff"),
  url("./fonts/Ibmplexsansbold.ttf") format("truetype");
}
@font-face {
  font-family: "Ibmplexsanslight";
  src: url("./fonts/Ibmplexsanslight.woff2") format("woff2"),
  url("./fonts/Ibmplexsanslight.woff") format("woff"),
  url("./fonts/Ibmplexsanslight.ttf") format("truetype");
}
@font-face {
  font-family: "Ibmplexsansextralight";
  src: url("./fonts/Ibmplexsansextralight.woff2") format("woff2"),
  url("./fonts/Ibmplexsansextralight.woff") format("woff"),
  url("./fonts/Ibmplexsansextralight.ttf") format("truetype");
}
@font-face {
  font-family: "Ibmplexsansmedium";
  src: url("./fonts/Ibmplexsansmedium.woff2") format("woff2"),
  url("./fonts/Ibmplexsansmedium.woff") format("woff"),
  url("./fonts/Ibmplexsansmedium.ttf") format("truetype");
}
