//color bg
$color-bg: #eeeeeb;
$color-bg-black: #222228;
$color-bg-mid-black: #2f2f36;
$color-bg-grey: rgba(187, 187, 192, 0.3);
//color text

$color-text-white: #FFF;
$color-text-default: #5b5b6c;
$color-text-orange: #ff644b;
$color-text-middle-gray: #bbbbc0;
$color-checkbox: #969696;
//16+
$color-16-bg: #55555e;
$color-16-text: #b1b1b5;

//width
$min-width: 320px;
$max-width: 1200px;
$tablet-width: 900px;
$mid-width: 680px;
$mobile-width: 450px;

//margin
$margin-bot-header: 20px;
$footer-height: 78px;
$header-height: 79px;